@page
@model MTLcourts.Pages.LoginModel
@{
    ViewData["Title"] = "Log in";
}

<div class="login-reg-logout">
    <h1>Log In</h1>
    <div class="col-md-4 login-form-container">
        <form id="account" method="post">
            <h5>Use an active account to log in.</h5>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.UserName"></label>
                <input asp-for="Input.UserName" class="form-control" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <br>
            @* <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div> *@
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <br>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-submit button-submit">Log in</button>
            </div>

            @* <div class="form-group">
                <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </p>

                </div> *@



        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}