@page
@model MTLcourts.Pages.LoginSuccessModel
@{
    ViewData["Title"] = "Log in successful";
}

<h1>@ViewData["Title"]</h1>
@{
    <p>Log in succeeded.
        <a class="nav-link" asp-area="" asp-page="/Index">Click here to continue.</a>
    </p>
}

