@page
@model MTLcourts.Pages.LogoutModel


@{
    ViewData["Title"] = "";
}

<h1>@ViewData["Title"]</h1>
@{
    <div class="login-reg-logout">
        <h1>You've logged out</h1>
        <br>
        <img class="logout-ball" src="https://mtlcourtsblob.blob.core.windows.net/mtlcourtscontainer/ballnobg.png" alt="">
        <a asp-area="" asp-page="/Account/Login"> <button class="button-submit logout-ball">Login</button> </a>
    </div>
    

        
    
}


