@page
@model MTLcourts.Pages.LogoutModel


@{
    ViewData["Title"] = "User logged out";
}

<h1>@ViewData["Title"]</h1>
@{
    <p>You've been logged out.
        <a class="" asp-area="" asp-page="/Index">Click to continue.</a>
    </p>
}


