@page
@model MTLcourts.Pages.RegisterSuccessModel
@{
    ViewData["Title"] = "";
}

<h1>@ViewData["Title"]</h1>
@{
    <div class="login-reg-logout">
        <h1>Register confirmation </h1>
        <h2>Welcome to the team @Model.UserName</h2>
        <br>
        <a asp-area="" asp-page="/Account/Login"> <button class="btn btn-primary btn-submit button-submit">Login</button> </a>
    </div>
}