@page "{Id}"
@model MTLcourts.Pages.AddUserTORoleModel
@{
}


<h1>Users not in this Role : </h1>
<form method="post">
    <table class="table table-sm table-bordered table-bordered">
        <tr>
            <th class="col-1">IsSelected</th>
            <th class="col-4">UserID</th>
            <th class="col-3">UserName</th>
            <th class="col-3">Email</th>
            
        </tr>
        @foreach (var user in Model.LUsers)
            {
                <tr>
                    <td class="col-1">
                        <input type="checkbox" name="IsSelected" value="@user.Id"/>
                    </td>
                    <td class="col-4">@user.Id</td>
                    <td class="col-3">@user.UserName</td>
                    <td class="col-3">@user.Email</td>
                </tr>    
            }
                    
    </table> 
    <button type="submit" class="btn btn-primary col-2" >update</button>
    <th scope="col"></th><a asp-page="AdminManagement"  class="btn btn-primary col-2">Cancel</a></th>
    </form>
