@page
@model MTLcourts.Pages.SuccessModel
@{
}
<div class="edit-user-role-container">
   <h1>Success</h1>
   <br>
    <a href="../Index"><button class="btn btn-light btn-info">Main Page</button> </a> 
</div>

