@page
@model MTLcourts.Pages.AddCourtSuccessModel
@{

    ViewData["Title"] = "";
}

@{
    <div class="login-reg-logout">
        <h1>Court Added</h1>
        <br>
        <a asp-area="" asp-page="/Index"> <button class="btn btn-primary btn-submit button-info">Home Page</button> </a>
    </div>
            
    
}