@page
@model MTLcourts.Pages.NewCourtSuccessModel
@{
     ViewData["Title"] = "New court created successfully";
}

<h1>@ViewData["Title"]</h1>
@{
    <p>New court created successfully.
        <a class="nav-link" asp-area="" asp-page="/Index">Click here to continue.</a>
    </p>
}