@page
@model MTLcourts.Pages.NewCourtSuccessModel
@{
     ViewData["Title"] = "";
}

<h1>@ViewData["Title"]</h1>
@{

    <div class="login-reg-logout">
        <h1>New court created successfully</h1>
        <br>
        <a asp-area="" asp-page="/Index"> <button class="btn btn-primary btn-submit button-info">Home Page</button> </a>
    </div>
}