html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: rgb(226, 247, 247);
  background: linear-gradient(
    180deg,
    rgb(142, 142, 151) 51%,
    rgb(213, 227, 231) 100%
  );
}

nav {
  background-color: rgb(213, 227, 231);

  /* background-image: url("https://mtlcourtsblob.blob.core.windows.net/mtlcourtscontainer/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  /* color: rgb(250, 246, 242); */
}
.logo {
  border-radius: 12px;
  margin-right: 1rem;
}

.nav-item a {
  color: rgb(250, 246, 242);
  font-size: 16px;
}

.display-6, 
.zip-search-inputs h4{
  color: rgb(250, 246, 242);
}

.mtl-courts {
  color: rgb(248, 142, 66);
  font-weight: bold;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.viewCourtContainer {
  min-height: 60rem;
  margin: auto;
  padding: 0;
}

.court-image-container {
  margin: 0;
  padding: 2rem 4rem 2rem 4rem;
  min-height: 45rem;
  text-align: right;
  color: rgb(250, 246, 242);
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid rgb(248, 142, 66);
}

.court-info-container {
  padding-top: 1rem;
  text-align: right;
  font-size: 18px;
  max-width: 35rem;
  position: relative;
  float: right;
}

.court-name,
.court-rating {
  color: rgb(248, 142, 66);
}

.comments-rating {
  text-align: center;
}

.review-text-container {
  margin: 0 10rem 0 10rem;
}

.court-reviews-container {
  margin: 0 2rem 0 2rem;
}

.form-control:focus {
  border-color: rgb(248, 142, 66);
  box-shadow: 0 0 0 0.2rem rgba(248, 142, 66, 0.4);
}

.card {
  padding-top: 5px;
  border-color: rgb(248, 142, 66);
  background-color: rgb(250, 246, 242);
}

.card-body {
  padding-bottom: 3rem;
  position: relative;
}

.card-body a {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.img-responsive {
  /* height: 400px;
  width: 600px;  */
  border: 2px solid rgb(248, 142, 66);
  box-shadow: 0 4px 8px 0 rgb(248, 142, 66, 0.2),
    0 6px 20px 0 rgba(248, 142, 66, 0.19);
}

.view-court-description {
  max-width: 600px;
}

.button-submit {
  background-color: rgb(248, 142, 66);
  color: rgb(70, 70, 66);
  height: 80px;
  border-color: black;
  border-radius: 40px;
  font-size: 18px;
  font-weight: bolder;
}

.button-submit:hover {
  background-color: rgb(70, 70, 66);
  color: rgb(248, 142, 66);
  border: 1px solid rgb(248, 142, 66);
}

.btn-info {
  background-color: rgb(248, 142, 66);
  color: rgb(70, 70, 66);
  border-color: black;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bolder;
  width: 140px;
}

.btn-info:hover {
  background-color: rgb(70, 70, 66);
  color: rgb(248, 142, 66);
  border: 1px solid rgb(248, 142, 66);
}

/* .btn-info:hover {
  background-color: rgb(213, 227, 231);
  color: rgb(70, 70, 66);
  border: 1px solid rgb(248, 142, 66);
} */

.btn-find {
  background-color: rgb(248, 142, 66);
  color: rgb(70, 70, 66);
  border-color: black;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bolder;
  width: 70px;
}

.btn-find:hover {
  background-color: rgb(70, 70, 66);
  color: rgb(248, 142, 66);
  border: 1px solid rgb(248, 142, 66);
}

.player-reviews {
  max-height: 300px;
  width: auto;
  overflow: scroll;
}

#map {
  height: 500px;
  margin: 2rem;
}

.nav-item {
  font-size: 18px;
  margin-right: 5px;
}

.nav-link:hover,
.nav-item:hover {
  background-color: rgb(248, 142, 66);
  border-radius: 5px;
}

.del-edit-btn-container {
  text-align: center;
  margin: 1rem 0 1rem 0;
}

/* index page */
.index-court-image-container {
  text-align: center;
}

.zip-search-container{
  text-align: center;
  margin-bottom: 2rem;
}

/* star-rating css */

.rating-container {
  display: inline-block;
}

.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 248px;
  height: 50px;
  overflow: hidden;
  position: relative;
  background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=");
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=");
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}

::after,
::before {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}
/* star-rating css */

@media (max-width: 574px) {
  .court-image-container {
    background-image: url("https://mtlcourtsblob.blob.core.windows.net/mtlcourtscontainer/bg4.jpg");
  }
  .img-responsive {
    height: 200px;
    width: 300px;
  }
  .index-court-image {
    height: 280px;
    width: 360px;
  }
}

@media (min-width: 575px) and (max-width: 768px) {
  .court-image-container {
    background-image: url("https://mtlcourtsblob.blob.core.windows.net/mtlcourtscontainer/bg4.jpg");
  }
  .img-responsive {
    height: 260px;
    width: 390px;
  }
  .index-court-image {
    height: 360px;
    width: 480px;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .court-image-container {
    background-image: url("https://mtlcourtsblob.blob.core.windows.net/mtlcourtscontainer/bg4.jpg");
  }
  .img-responsive {
    height: 300px;
    width: 450px;
  }
  .index-court-image {
    height: 160px;
    width: 210px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .court-image-container {
    background-image: url("https://mtlcourtsblob.blob.core.windows.net/mtlcourtscontainer/bg1.jpg");
  }
  .img-responsive {
    height: 400px;
    width: 600px;
  }
  .index-court-image {
    height: 220px;
    width: 290px;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .court-image-container {
    background-image: url("https://mtlcourtsblob.blob.core.windows.net/mtlcourtscontainer/bg1.jpg");
  }
  .img-responsive {
    height: 400px;
    width: 600px;
  }
  .index-court-image {
    height: 250px;
    width: 340px;
  }
}

@media (min-width: 1400px) {
  .court-image-container {
    background-image: url("https://mtlcourtsblob.blob.core.windows.net/mtlcourtscontainer/bg1.jpg");
  }
  .img-responsive {
    height: 400px;
    width: 600px;
  }
  .index-court-image {
    height: 300px;
    width: 400px;
  }
}
