html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.viewCourtContainer{
  min-height: 60rem;
  border: 1px solid black;
  margin: auto;
}

.court-image-container{
  border: 1px solid black;
  text-align: center;
}

.view-court-image{
  height: 150%;
  width: auto;
}

.court-info-container{
  border: 1px solid black;
  padding-top: 2rem;
  text-align: center;
  font-size: 20px;
}


