@page
@model MTLcourts.Pages.datetimeIntentionModel
@{
}

<div class="login-reg-logout">
    <h1>Total to be on court: @Model.sum</h1>
    <br>
    <h3>List of players and guests</h3>
    <br>

    <table class="table table-sm table-bordered table-bordered player-list-table">
        <tr class="row">
            <th class="col-8">User Name</th>
            <th class="col-4">Guests number</th>
        </tr>
        @foreach (var i in @Model.intentionsList)
        {
            <tr class="row">
                <td class="col-8"><img src="https://mtlcourtsblob.blob.core.windows.net/mtlcourtscontainer/ballnobg.png" height="14px" width="14px" alt=""> @i.User.UserName </td>
                <td class="col-4">@i.NumOfPeople</td>
            </tr>
        }
    </table>
    <br>
    <div class="">
        <form method="post" class="">
            <div class="form-group">
                @* <label asp-for="NumOfPeople">Number of players:</label> *@
                <h4>Number of players</h4>
                <input asp-for="NumOfPeople" class="form-control numOfPlayersInt" />
            </div>
            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-primary button-submit">Join</button>
            </div>
        </form>
    </div>
</div>


</div>
